{% extends 'base.html.twig' %}

{% block content_layout %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Base de Données Clientèle</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Table des Clients</h6>
        </div>
        <div class="row m-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
                Enregistrer un client
            </button>
            
            <a name="" id="" class="btn btn-primary ml-4" href="https://passport.alibaba.com/icbu_login.htm?return_url=https%3A%2F%2Fi.alibaba.com%2FglobalBuyerIndex.htm%3Fspm%3Da2700.12243863.b170006.d170006.3ac43e5f8vv1Tk"
                role="button">Sourcing Ali Baba</a>
            <a name="" id="" class="btn btn-primary ml-4" href="https://s.1688.com/youyuan/index.htm?tab=imageSearch&imageAddress=&imageId=1303007990561030430&spm=a26352.b28411319.searchbox.paste&imageIdList=1303007990561030430"
                role="button">Sourcing 1688</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Code Client</th>
                            <th>Nom Complet</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Commercial en Charge</th>
                            <th>Type de Client</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in datas %}
                        <tr>
                            <td>{{ client.codeClient }}</td>
                            <td>{{ client.nomCompletClient }}</td>
                            <td>{{ client.emailClient }}</td>
                            <td>{{ client.adresseClient }}</td>
                            <td>{{ client.commercial.nomComplet }}</td>
                            <td>{{ client.typeClient }}</td>
                            <td style="width: 200px;">
                                <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#clientDetailsModal{{ client.id }}">Détails</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enregistrement d'un nouveau client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="POST" action="{{ path('app_createClient') }}">
                        <div class="form-group p-4">
                            <!-- Vos champs de formulaire ici -->
                            <label for="nom">Nom Complet</label>
                            <input type="text" name="nom" class="form-control" placeholder="Entrer le nom du client" aria-describedby="helpId" required>
                            <br>
                            <label for="email">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="xyz@gmail.com" aria-describedby="helpId">
                            <br>
                            <label for="adresse">Adresse</label>
                            <input type="text" name="adresse" class="form-control" placeholder="Entrer l'adresse du client" aria-describedby="helpId">
                            <br>
                            <div class="form-group">
                                <label for="commercial">Commercial en Charge</label>
                                <select class="form-control" name="commercial" id="commercial">
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.nomComplet }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="typeClient">Type de Client</label>
                                <select class="form-control" name="typeClient" id="typeClient">
                                    {% for type in ['particulier', 'commercant'] %} {# Vous pouvez remplacer ['particulier', 'commercant'] par les valeurs réelles du discriminant #}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success" name="btnSave" value="save">Enregistrer</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock content_layout %}
